.card-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 35px;
}
.card-holder img {
    width: 160px;
    height: 160px;
}
.ant-card.ant-card-bordered.ant-card-hoverable {
    margin-top: 10px;
}
.main-container {
    margin-top: 60px;
}
.main-container div:nth-child(2) {
    padding-top: 0;
    text-align: center;
}
.proceed-button {
    float: right;
    margin-top: 25px !important;
    background-color: #ff7f00 !important;
    border: none !important;
}
.proceed-button span {
    font-weight: 500;
}
.p-autocomplete-item {
    max-width: 300px;
}
