.p-grid {
    margin-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p-col-6 {
    width: 80%;
    text-align: center;
}

.p-grid.p-d-flex {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
